@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="Sales">
    <div ng-view></div>
</div>






<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>

<script type="text/javascript">
    angular
        .module('Sales', ['ngRoute'])
        .config(function ($routeProvider) {
            $routeProvider
                .when('/categories', {
                    templateUrl: 'views/categories/list.html',
                    controller: 'CategoriesController'
                })
                .when('/categories/form', {
                    templateUrl: 'views/categories/form.html',
                    controller: 'CategoriesFormController'
                })
                .when('/products', {
                    templateUrl: 'views/products/list.html',
                    controller: 'ProductsController'
                })
                .when('/product/form', {
                    templateUrl: 'views/products/form.html',
                    controller: 'ProductFormController'
                })
                .otherwise({
                    redirectTo: '/categories'
                })
        })
        .controller('ProductsController', ['$scope', '$http', function ($scope, $http) {
            $scope.products = [];
            $http.get('/api/product/GetAll')
                .then(function (response) {
                    $scope.products = response.data;
                    console.log(response.data)
                })

            $scope.create = function () {
                window.location = "#!/product/form?action=create";
            }

            $scope.update = function ($event) {
                let pass_id = $($event.target).data('id');
                window.location = "#!/product/form/?action=update&pass_id=" + pass_id;

            }

            $scope.delete = function ($event) {
                let pass_id = $($event.target).data('id');
                let url = '/api/product/delete/' + pass_id;

                $http({
                    method: 'GET',
                    url: url,
                })
                    .then(function (success) {
                        if (success.data) {
                            alert("Successfully deleted");
                            window.location = "#!/products";
                        } else {
                            alert("Something happened")
                        }
                    }, function (error) {
                        alert(error.status);
                    });
            }

        }])
        .controller('CategoriesController', ['$scope', '$http', function ($scope, $http) {
            $scope.categories = [];
            $http.get('/api/Category/GetAll')
                .then(function (response) {
                    $scope.categories = response.data;
                })

            $scope.redirect_to_form = function () {
                window.location = "#!/categories/form?action=create";
            }

            $scope.update = function ($event) {
                let pass_id = $($event.target).data('id');
                window.location = "#!/categories/form/?action=update&pass_id=" + pass_id;

            }

            $scope.delete = function ($event) {
                let pass_id = $($event.target).data('id');
                let url = '/api/category/delete/' + pass_id;

                $http({
                    method: 'GET',
                    url: url,
                })
                    .then(function (success) {
                        if (success.data) {
                            alert("Successfully deleted");
                            window.location = "#!/categories";
                        } else {
                            alert("Something happened")
                        }
                    }, function (error) {
                        alert(error.status);
                    });
            }

        }])
        .controller('CategoriesFormController', ['$scope', '$http', '$location', function ($scope, $http, $location) {

            $scope.send_form = function (actionId, category) {

                if (actionId == 'create') {

                    let url = '/api/category/create';

                    if (category && category.Name) {
                        $http({
                            method: 'POST',
                            url: url,
                            data: JSON.stringify(category)
                        })
                            .then(function (success) {
                                if (success.data) {
                                    alert("Successfully added");
                                    window.location = "#!/categories";
                                } else {
                                    alert("Something happened")
                                }
                            }, function (error) {
                                alert(error.status);
                            });
                    } else {
                        alert("Empty Name field");
                    }
                }

                if (actionId == 'update') {

                    let url = '/api/category/update';

                    if (category && category.Name) {

                        category.Id = Number($location.search().pass_id);

                        $http({
                            method: 'POST',
                            url: url,
                            data: JSON.stringify(category)
                        })
                            .then(function (success) {
                                if (success.data) {
                                    alert("Successfully update");
                                    window.location = "#!/categories";
                                } else {
                                    alert("Something happened")
                                }
                            }, function (error) {
                                alert(error.status);
                            });
                    } else {
                        alert("Empty Name field");
                    }                    
                }



            }

            $scope.$on('$viewContentLoaded', function () {
                let action = $location.search().action;
                let pass_id = $location.search().pass_id;
                console.log(action)
                if (action == 'update') {
                    $scope.action = "Update";
                    $scope.actionId = "update";

                    $scope.categoryId = pass_id;

                    $scope.categoryName = '';
                    $http.get('/api/Category/Get/' + pass_id)
                        .then(function (response) {
                            $scope.categoryName = response.data.name;
                        })

                }
                else {
                    $scope.action = "Create";
                    $scope.actionId = "create";
                }                    
            });

        }])
        .controller('ProductFormController', ['$scope', '$http', '$location', function ($scope, $http, $location) {

            $scope.categories = [];
            $http.get('/api/category/GetAll')
                .then(function (response) {
                    $scope.categories = response.data;
                    console.log($scope.categories)
                })

            $scope.send_form = function (actionId, product) {

                console.log(actionId, product);


                if (actionId == 'create') {

                    let url = '/api/product/create';

                    if (product) {

                        if (!product.Name) {
                            alert("Empty Name Field")
                            return;
                        }
                        if (!product.Price) {
                            alert("Empty Price Field")
                            return;
                        }                            
                        if (!product.CategoryId) {
                            alert("Empty Category Field")
                            return;
                        }                            

                        product = {
                            Name: product.Name,
                            Price: product.Price,
                            Description: product.Description,
                            Category: {
                                Id: Number(product.CategoryId)
                            }
                        }

                        $http({
                            method: 'POST',
                            url: url,
                            data: JSON.stringify(product)
                        })
                            .then(function (success) {
                                if (success.data) {
                                    alert("Successfully added");
                                    window.location = "#!/products";
                                } else {
                                    alert("Something happened")
                                }
                            }, function (error) {
                                alert(error.status);
                            });
                    } else {
                        alert("Empty Product form");
                    }
                }

                if (actionId == 'update') {

                    let url = '/api/product/update';

                    if (product) {

                        if (!product.Name) {
                            alert("Empty Name Field")
                            return;
                        }
                            
                        if (!product.Price) {
                            alert("Empty Price Field")
                            return;
                        }
                            
                        if (!product.CategoryId) {
                            alert("Empty Category Field")
                            return;
                        }
                            
                        product = {
                            Name: product.Name,
                            Price: product.Price,
                            Description: product.Description,
                            Category: {
                                Id: Number(product.CategoryId)
                            },
                            Id: Number($location.search().pass_id)
                        }

                        $http({
                            method: 'POST',
                            url: url,
                            data: JSON.stringify(product)
                        })
                            .then(function (success) {
                                if (success.data) {
                                    alert("Successfully updated");
                                    window.location = "#!/products";
                                } else {
                                    alert("Something happened")
                                }
                            }, function (error) {
                                alert(error.status);
                            });
                    } else {
                        alert("Empty Product form");
                    }
                }



            }

            $scope.$on('$viewContentLoaded', function () {
                let action = $location.search().action;
                let pass_id = $location.search().pass_id;
                console.log(action)
                if (action == 'update') {
                    $scope.action = "Update";
                    $scope.actionId = "update";

                    $scope.productId = pass_id;
                    $scope.productName = '';
                    $scope.productCategoryId = '';
                    $scope.productPrice = '';
                    $scope.productDescription = '';
                    
                    

                    $http.get('/api/product/Get/' + pass_id)
                        .then(function (response) {
                            let prod = response.data;

                            $scope.productName = prod.name;
                            $scope.productCategoryId = prod.category.id;
                            $scope.productPrice = prod.price;
                            $scope.productDescription = prod.description;

                        })

                }
                else {
                    $scope.action = "Create";
                    $scope.actionId = "create";
                }
            });

        }]);


</script>